/*
 * Default:
 * To set a different default, move `:root,` to another block. But then write alternatives for light mode instead of for dark mode as it is done now.
 */
:root,
[data-bgcolor='dark'] {
  --color-bg: 333;
}
:root,
[data-textcolor='light'] {
  --color-text: #ccc;
}

/*
 * Use the colors defined in this file.
 */
[data-bgcolor] {
  background-color: var(--color-bg);
}
[data-textcolor] {
  color: var(--color-text);
}
[data-bggradient] {
  color: var(--color-text);
  background: var(--color-bg);
  background-image: var(--color-bg-gradient);
}
[data-textgradient] {
  background: initial;
  background-color: var(--color-text);
  background-image: var(--color-text-gradient);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
