.ReactModal__Overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ReactModal__Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
* {
  background: orange;
}
