{
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": false, // https://styled-components.com/docs/tooling#serverside-rendering
        "displayName": false, // https://styled-components.com/docs/tooling#better-debugging
        "fileName": false, // https://styled-components.com/docs/tooling#control-the-components-displayname
        "meaninglessFileNames": ["index", "styles", "variants"],
        "pure": true // https://styled-components.com/docs/tooling#dead-code-elimination
        // See also:
        // Interpolation of styles:
        // https://styled-components.com/docs/basics#extending-styles
      }
    ]
  ]
}
