:root {
  --font-family: 'Roboto', sans-serif;
  --font-family-title: 'Roboto', sans-serif;
  --font-family-code: 'Roboto Mono', monospace;

  --color-error: #e30000;
  --color-warning: #e38935;
  --color-success: #27b30d;
  --color-info: #1ea7fd;
  --color-notice: #c336e5;
}

/*
 * (DEFAULT) Dark text on light background:
 * <Box textcolor="dark"> or <Box bgcolor="light">
 */
:root,
[data-colorscheme='onlight'] {
  color-scheme: light;
  --color-bg: #efefef;
  --color-bg-gradient: radial-gradient(
    80% 80% at top center,
    hsl(205, 10%, 83%),
    hsl(205, 5%, 100%)
  );

  --color-text: hsla(0, 0%, 20%, 93%);
  --color-text-gradient: radial-gradient(
    50% 50% at top center,
    hsla(257, 42%, 28%, 75%),
    hsla(257, 42%, 28%, 95%)
  );
  --color-glow: hsla(272, 51%, 54%, 0.25);
  --color-cta: hsl(203, 97%, 55%);
  --color-accent: #ffac33;
}

/*
 * Light text on dark background:
 * <Box textcolor="light"> or <Box bgcolor="dark">
 */
[data-colorscheme='ondark'] {
  color-scheme: dark;
  --color-bg: hsla(256, 29%, 29%, 0.85);
  --color-bg-gradient: radial-gradient(
    50% 50% at top center,
    hsla(257, 42%, 28%, 75%),
    hsla(257, 42%, 28%, 95%)
  );

  --color-text: hsla(0, 0%, 94%, 94%);
  --color-text-gradient: radial-gradient(
    80% 80% at top center,
    hsl(205, 5%, 98%),
    hsl(205, 10%, 80%)
  );

  --color-glow: hsla(0deg, 0%, 100%, 0.125);
  --color-cta: hsl(39deg, 95%, 50%);
  --color-accent: #fecc4c;
}

/*
 * Purple
 */
[data-bgcolor='purple'] {
  --color-bg: #715fe4;
  --color-bg-gradient: linear-gradient(333deg, hsl(272 51% 54%), #7463f1);
}
[data-textcolor='purple'] {
  --color-text: #715fe4;
  --color-text-gradient: linear-gradient(300deg, hsl(272 51% 54%), #7463f1);
}

/*
 * Accent
 */
[data-textcolor='accent'] {
  --color-text: var(--color-accent);
  --color-text-gradient: linear-gradient(#fecc4c, #ffac33);
}

/*
 * Rainbow
 */
:root {
  --color-rainbow: linear-gradient(
    160deg,
    rgb(255, 75, 75),
    rgb(252, 84, 84),
    rgba(255, 154, 0, 1),
    rgb(245, 208, 23),
    rgba(208, 222, 33, 1),
    rgb(185, 234, 27),
    rgba(79, 220, 74, 1),
    rgba(63, 218, 216, 1),
    rgba(47, 201, 226, 1),
    rgb(51, 146, 255),
    rgb(210, 86, 255),
    rgb(255, 87, 233)
  );
  --color-rainbow-subtle: linear-gradient(
    55deg,
    rgb(245, 139, 101) -12%,
    rgba(255, 154, 0, 1),
    rgb(245, 208, 23),
    rgb(255, 236, 95),
    rgb(205, 235, 55),
    rgb(121, 210, 191),
    rgb(146, 147, 255) 106%
  );
}
[data-bgcolor='rainbow'] {
  --color-bg-gradient: var(--color-rainbow);
}
[data-textcolor='rainbow'] {
  --color-text-gradient: var(--color-rainbow);
}
[data-colorscheme='ondark'] [data-bgcolor='rainbow'] {
  --color-bg-gradient: var(--color-rainbow-subtle);
}
[data-colorscheme='ondark'] [data-textcolor='rainbow'] {
  --color-text-gradient: var(--color-rainbow-subtle);
}

/*
 * CTA. Use:
 * 1. <Button textcolor="cta" /> or
 * 2. <a data-textcolor="cta" href="">
 * NOTICE: This sets the text color for all anchor tags in the site.
 */
a,
[data-textcolor='cta'] {
  --color-text: var(--color-cta);
  --color-text-gradient: linear-gradient(
    90deg,
    hsl(171, 76%, 39%),
    hsl(171, 60%, 34%)
  );
}
a,
[data-bgcolor='cta'] {
  --color-bg: var(--color-cta);
  --color-bg-gradient: linear-gradient(
    90deg,
    hsl(171, 76%, 39%),
    hsl(171, 60%, 34%)
  );
}
[data-colorscheme='ondark'] a,
[data-colorscheme='ondark'] [data-textcolor='cta'] {
  --color-text: var(--color-cta);
  --color-text-gradient: linear-gradient(
    90deg,
    hsl(39, 100%, 50%),
    hsl(51, 100%, 50%),
    hsl(51, 100%, 50%),
    hsl(39, 100%, 50%)
  );
}
[data-colorscheme='ondark'] a,
[data-colorscheme='ondark'] [data-bgcolor='cta'] {
  --color-bg: var(--color-cta);
  --color-bg-gradient: linear-gradient(
    90deg,
    hsl(39, 100%, 50%),
    hsl(51, 100%, 50%),
    hsl(51, 100%, 50%),
    hsl(39, 100%, 50%)
  );
}

/*
 * Use the colors defined in this file.
 */
[data-bgcolor] {
  background-color: var(--color-bg);
}
[data-textcolor] {
  color: var(--color-text);
}
[data-bggradient] {
  color: var(--color-text);
  background: var(--color-bg);
  background-image: var(--color-bg-gradient);
}
[data-textgradient] {
  background: initial;
  background-color: var(--color-text);
  background-image: var(--color-text-gradient);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
