@import url('/css/fonts.css');

* {
  font-family: sfprorounded, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

body {
  font-weight: 300;
}

a {
  color: currentColor;
  text-decoration: none;
  outline: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  color: black;
  outline: none !important;
}

img {
  max-width: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input::-ms-reveal {
  display: none;
}
input::-ms-clear {
  display: none;
}

input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
  color: black;
  background: white;
}

@font-face {
  font-family: 'sfprorounded';
  src: url('/fonts/sf-pro-rounded-thin.ttf') format('truetype');
  font-display: swap;
  font-weight: 200;
  font-style: normal;
  /* Download only latin glyphs for faster loading */
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'sfprorounded';
  src: url('/fonts/sf-pro-rounded-light.ttf') format('truetype');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
  /* Download only latin glyphs for faster loading */
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'sfprorounded';
  src: url('/fonts/sf-pro-rounded-regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  /* Download only latin glyphs for faster loading */
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'sfprorounded';
  src: url('/fonts/sf-pro-rounded-semibold.ttf') format('truetype');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  /* Download only latin glyphs for faster loading */
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'signpainter';
  src: url('/fonts/sign-painter.ttf') format('truetype');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  /* Download only latin glyphs for faster loading */
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('/fonts/GreycliffCF-Bold.woff') format('truetype');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  /* Download only latin glyphs for faster loading */
  unicode-range: U+000-5FF;
}

/*
 * Style the 3rd party component "react-modal"
 */
.ReactModalOverlay {
  background: rgba(0, 0, 0, 0.5) !important;
  position: fixed;
  inset: 0px;
  z-index: 10000;
  overflow-y: scroll;
}

.CalendarDay,
.CalendarDay:hover {
  border: none !important;
}
/* // Will edit everything selected including everything between a range of dates */
.CalendarDay__selected_span {
  background: #fdf5f8 !important;
  color: #d92e76 !important;
  border: none !important;
}

.CalendarDay__today {
  background: #e8eaeb !important;
  border: none !important;
}

/* // Will edit selected date or the endpoints of a range of dates */
.CalendarDay__selected {
  background: #d92e76 !important;
  color: white !important;
  border: none !important;
}

/* // Will edit when hovered over. _span style also has this property */
.CalendarDay__selected:hover {
  background: #d92e76 !important;
  color: white !important;
  border: none !important;
}

/* // Will edit when the second date (end date) in a range of dates
// is not yet selected. Edits the dates between your mouse and said date */
.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: #fdf5f8 !important;
  color: #d92e76 !important;
}

.CalendarDay__selected_span:hover {
  background: #d92e76 !important;
  border-color: #d92e76 !important;
  border: none !important;
  color: white !important;
}

.CalendarDay__default {
  border: none !important;
}

.DayPickerNavigation_button__disabled,
.DayPickerNavigation_button__disabled:hover {
  cursor: not-allowed !important;
  border: none !important;
  opacity: 0.5 !important;
}

.DayPickerKeyboardShortcuts_show {
  display: none !important;
}
