/*
 * STYLES FOR ANY COMPONENT
 */

.bgSolid {
  background: var(--color-bg);
}
.bgGradient {
  background: var(--color-bg);
  background-image: linear-gradient(
    333deg,
    var(--color-bg-lighter) 0%,
    var(--color-bg-darker) 75%
  );
}
.bgGradientSubtle {
  background: var(--color-bg);
  background-image: linear-gradient(
    333deg,
    var(--color-bg-lighter) -25%,
    var(--color-bg) 100%
  );
}

.bgGradientIntense {
  background: var(--color-bg);
  background-image: linear-gradient(
    333deg,
    var(--color-bg-lighter) 0%,
    var(--color-bg-darker) 75%
  );
}
.hoverTilt {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  &:hover {
    box-shadow: 0 0 50px rgb(17 17 17 / 20%);
    transform: rotate(-1deg) translateY(-2px) scale(1.015);
    /* ${props.theme.mq.sm} {
    transform: rotate(-1.5deg) translateY(-2px) scale(1.025);
  } */
  }
}
.centerChildren {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > * {
    display: inline-block;
    > * {
      display: inline-block;
    }
  }
}
