/*
 * COMPONENT-SPECIFIC STYLES
 */

[data-component='BoxCode'] {
  padding: 0.25rem;
  white-space: pre;
  font-family: var(--font-family-code);
  font-size: 0.9rem;
  font-style: normal;
  text-decoration: none;
  background: var(--color-bg-lighter);
  border: solid 1px var(--color-bg-darker);
  color: var(--color-bg-text);
  border-radius: 4px;
}

/* This is for the Modal component, but this overlay must be outside the component, at the bottom of the page <body> */
.ReactModalOverlay {
  background: rgba(0, 0, 0, 0.4) !important;
  position: fixed;
  inset: 0px;
  z-index: 1000;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
