:root {
  --font-family: 'Roboto', sans-serif;
  --font-family-title: 'Roboto', sans-serif;
  --font-family-code: 'Roboto Mono', monospace;

  --color-error: #e30000;
  --color-warning: #e38935;
  --color-success: #27b30d;
  --color-info: #1ea7fd;
  --color-notice: #c336e5;
}

/*
 * Default. To change default scheme to dark, replace all uses of 'light' and 'dark' only in this file.
 * 1. <Block scheme="light" /> - this will use the "light" color scheme
 * 2. <a href="" data-bgColor="light"> - for any HTML markup that's not a component in this library
 */
:root,
[data-bgColor='light'] {
  color: var(--color-text);
  --color-text: hsla(0, 0%, 20%, 93%);
  --color-text-gradient: radial-gradient(
    50% 50% at top center,
    hsla(257, 42%, 28%, 75%),
    hsla(257, 42%, 28%, 95%)
  );
  --color-bg: #efefef;
  --color-bg-gradient: linear-gradient(
    175deg,
    hsl(205, 10%, 83%),
    hsl(205, 5%, 100%)
  );
  --color-notice: hsl(39deg 95% 50%);
}

/*
 * Alternative color scheme.
 * 1. <Block scheme="dark" /> - this will use the "dark" color scheme
 * 2. <a href="" data-bgColor="dark"> - for any HTML markup that's not a component in this library
 */
[data-bgColor='dark'],
[data-bgColor='purple'] {
  color: var(--color-text);
  --color-text: hsla(0, 0%, 94%, 94%);
  --color-text-gradient: linear-gradient(
    175deg,
    hsl(205, 10%, 85%),
    hsl(205, 5%, 95%)
  );
  --color-bg: hsla(256, 29%, 29%, 0.85);
  --color-bg-gradient: radial-gradient(
    50% 50% at top center,
    hsla(257, 42%, 28%, 75%),
    hsla(257, 42%, 28%, 95%)
  );
  --color-notice: hsl(49deg 98% 47%);
}

/*
 * 1. <Button color="purple" /> - this will use the "purple" color scheme
 * 2. <a href="" data-color="purple"> - for any HTML markup that's not a component in this library
 */
[data-textColor='purple'] {
  color: var(--color-text);
  --color-text: #715fe4;
  --color-text-gradient: linear-gradient(300deg, hsl(272 51% 54%), #7463f1);
}
[data-bgColor='purple'] {
  --color-bg: #715fe4;
  --color-bg-gradient: linear-gradient(300deg, hsl(272 51% 54%), #7463f1);
}

/*
 * 1. <Button color="accent" /> - this will use the "accent" color scheme
 * 2. <a href="" data-color="accent"> - for any HTML markup that's not a component in this library
 */
[data-textColor='accent'] {
  --color-text: hsl(38deg 100% 42%);
  --color-text-gradient: linear-gradient(
    190deg,
    hsl(39, 100%, 50%),
    hsl(46, 100%, 62%),
    hsl(46, 100%, 62%),
    hsl(51, 100%, 61%),
    hsl(51, 100%, 61%),
    hsl(46, 100%, 62%),
    hsl(39, 100%, 50%)
  );
}
[data-bgColor='dark'] [data-textColor='accent'],
[data-bgColor='purple'] [data-textColor='accent'] {
  --color-text: hsl(50deg 100% 45%);
}
[data-bgColor='accent'] {
  --color-bg: hsl(48, 34%, 72%);
  --color-bg-gradient: linear-gradient(
    90deg,
    hsl(48, 34%, 72%),
    hsl(40, 32%, 71%)
  );
}

/*
 * For use with <Text variant="gradient" and similar effects. 
 */
[data-textColor='rainbow'] {
  --color-text-gradient: linear-gradient(
    160deg,
    rgb(255, 75, 75),
    rgb(252, 84, 84),
    rgba(255, 154, 0, 1),
    rgb(245, 208, 23),
    rgba(208, 222, 33, 1),
    rgb(185, 234, 27),
    rgba(79, 220, 74, 1),
    rgba(63, 218, 216, 1),
    rgba(47, 201, 226, 1),
    rgb(51, 146, 255),
    rgb(210, 86, 255),
    rgb(255, 87, 233)
  );
}
[data-bgColor='rainbow'] {
  --color-bg-gradient: var(--color-text-gradient);
}
[data-bgColor='dark'] [data-textColor='rainbow'],
[data-bgColor='purple'] [data-textColor='rainbow'] {
  --color-text-gradient: linear-gradient(
    55deg,
    rgb(245, 139, 101) -12%,
    rgba(255, 154, 0, 1),
    rgb(245, 208, 23),
    rgb(255, 236, 95),
    rgb(205, 235, 55),
    rgb(121, 210, 191),
    rgb(146, 147, 255) 106%
  );
}
[data-bgColor='dark'] [data-bgColor='rainbow'],
[data-bgColor='purple'] [data-bgColor='rainbow'] {
  --color-bg-gradient: var(--color-text-gradient);
}

/*
 * Default colors for all <a> (anchor tags) and <Button bgColor="cta"> or <Button bgGradient="cta"> 
 * You can separate these if you like. But for now, both a and everything else use the same colors.
 * 1. <Button textColor="cta" /> - this will use the "cta" color scheme
 * 2. <a href="" data-textColor="cta"> - for any HTML markup that's not a component in this library
 */
a,
[data-textColor='cta'] {
  --color-text: hsl(171, 76%, 39%);
  --color-text-gradient: linear-gradient(
    90deg,
    hsl(171, 76%, 39%),
    hsl(171, 60%, 34%)
  );
  color: var(--color-text);
}
a,
[data-bgColor='cta'] {
  --color-bg: hsl(171, 76%, 39%);
  --color-bg-gradient: linear-gradient(
    90deg,
    hsl(171, 76%, 39%),
    hsl(171, 60%, 34%)
  );
}
[data-bgColor='dark'] a,
[data-bgColor='dark'] [data-textColor='cta'],
[data-bgColor='purple'] a,
[data-bgColor='purple'] [data-textColor='cta'] {
  --color-text: hsl(39deg 95% 50%);
  --color-text-gradient: linear-gradient(
    90deg,
    hsl(39, 100%, 50%),
    hsl(51, 100%, 50%),
    hsl(51, 100%, 50%),
    hsl(39, 100%, 50%)
  );
}
[data-bgColor='dark'] a,
[data-bgColor='dark'] [data-bgColor='cta'],
[data-bgColor='purple'] a,
[data-bgColor='purple'] [data-bgColor='cta'] {
  --color-bg: hsl(39deg 95% 50%);
  --color-bg-gradient: linear-gradient(
    90deg,
    hsl(39, 100%, 50%),
    hsl(51, 100%, 50%),
    hsl(51, 100%, 50%),
    hsl(39, 100%, 50%)
  );
}

[data-bgColor] {
  background-color: var(--color-bg);
}
[data-textColor] {
  color: var(--color-text);
}
[data-bgGradient] {
  color: var(--color-text);
  background: var(--color-bg);
  background-image: var(--color-bg-gradient);
}
[data-textGradient] {
  background: initial;
  background-color: var(--color-text);
  background-image: var(--color-text-gradient);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
