{
  "presets": [
    "next/babel",
    [
      "@emotion/babel-preset-css-prop",
      {
        "sourceMap": true,
        "autoLabel": "dev-only",
        "cssPropOptimization": true,
        "useBuiltIns": false,
        "labelFormat": "[local]"
      }
    ]
  ],
  "plugins": []
}
