{
  "presets": [
    [
      "next/babel",
      {
        "preset-react": {
          "runtime": "automatic",
          "importSource": "@emotion/react"
        },
        "preset-css-prop": {
          "runtime": "automatic",
          "importSource": "@emotion/babel-preset-css-prop"
        }
      }
    ]
  ],
  "plugins": [
    "react-docgen",
    [
      "@emotion",
      {
        "sourceMap": false,
        "autoLabel": "never",
        "cssPropOptimization": false
      }
    ]
  ]
}
